.container {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.container__items {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 4px 15px -3px black;
          box-shadow: 1px 4px 15px -3px black;
  border-radius: 5px;
  padding: 0 5% 5% 5%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.container__items h3 {
  text-align: center;
  color: gray;
}
