.container {
  display: grid;
  align-content: center;
  height: 100vh;
  grid-template-columns: auto auto auto;

  &__items {
    background-color: #ffffff;
    box-shadow: 5px 5px 15px -3px grey;
    border-radius: 5px;
    padding: 0 5% 5% 5%;
    grid-column: 2/3;

    h3 {
      text-align: center;
      color: gray;
    }
  }
}
